
/* CSS Document */

body {margin: 0; 
      padding: 0;
    box-sizing: border-box;
}

p{
	font-size: 20px;
	font-family: 'Barlow', sans-serif;
	
}
/*top*/

#top{
	display: grid;
	grid-template: repeat(3,1fr)/ repeat(4,1fr);
	margin: auto;
	width: 60%;
	
}

#top_video{
	width: 100%;
	grid-area: 1/1/5/5;
	
}

#head{
	width: 100%;
	z-index: 1;
	grid-area: 1/1/5/5;
}

/*historie*/



#historie{
	width: 70%;
	
	margin: auto;
	display: grid;
	grid-template:repeat(16,6.25%)/repeat(16,6.25%);
	
}

#ash{
	grid-area: 1/4/3/15;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	
}

#hamid{
	border-radius: 50%;
	grid-area: 4/2/5/16;
	width:30%;
	z-index: 2;
	box-shadow: 3px 3px 5px -1px #000

	
}

#hist{
	grid-area: 3/8/15/15;
	z-index: 2;
}

#kasse1{
	background-color: rgb(238,211,189,1.00);
	grid-area: 3/2/15/16;
	z-index: -1;
	
}

#kasse2{
	background-color: rgb(176,102,29);
	grid-area: 1/1/17/17;
	z-index: -2;
	box-shadow: 2px 5px 37px -1px #000;
}

#hojt{
	width: 80%;
	grid-area: 10/5/15/7;
	z-index: 3;
	border-radius: 50%;
	box-shadow: 3px 3px 5px -1px #000
}

#maling{
	width: 100%;
	grid-area: 12/1/15/8;
	z-index: 1;
	opacity: 0.8;
}


/*info1*/

#info1{
	width: 60%;
	margin: auto;
	display: grid;
	grid-template: repeat(12,1fr)/repeat(12,1fr);
}

#infokas{
	width: 100%;
	height: 100%;
	margin: auto;
	grid-area: 1/1/14/14;
	background-color: rgb(4,35,49);
}


#info1b{
	width: 100%;
	margin: auto;
	z-index: 1;
	grid-area: 2/2/12/12
	
}

/*pitavid*/

#pitavid{
width: 70%;
	
	margin: auto;
	display: grid;
	grid-template:repeat(12,1fr)/repeat(12,1fr);
}

#pitakas{
	width: 100%;
	height: 100%;
	background-color: rgb(176,102,29);
	
	box-shadow: 2px 5px 37px -1px #000;
	grid-area: 1/1/13/13;
	
}

#pitavide{
	width: 100%;
	grid-area: 2/2/12/12;
}


/*info2*/

#info2{
	width: 60%;
	margin: auto;
	display: grid;
	grid-template: repeat(12,1fr)/repeat(12,1fr);
}

#infokas2{
	width: 100%;
	height: 100%;
	margin: auto;
	grid-area: 1/1/14/14;
	background-color: rgb(4,35,49);
}


#info2b{
	width: 100%;
	margin: auto;
	z-index: 1;
	grid-area: 2/2/12/12
	
}



/*slideshow*/

#galleri{
	width: 70%;
	height: auto;
	margin: auto;
	display: grid;
	grid-template: repeat(20,5%)/repeat(20,5%);
}


#gallerikas{
		width: 100%;
	background-color: rgb(176,102,29);
	box-shadow: 2px 5px 37px -1px #000;
	grid-area: 1/1/21/21;
	z-index: -1;
}
#slidebillede {
	width: 90%;
	margin: auto;
	grid-area: 3/4/9/18;
	box-shadow: 2px 5px 3px -1px #000;
	
 
}

#frem{
	width: 100%;
	grid-area: 9/18/14/20;
	background-color: rgb(176,102,29);
	border-color: rgb(176,102,29);
}

#tilbage{
	width: 100%;
	grid-area: 9/2/14/4;
	background-color: rgb(176,102,29);
	border-color: rgb(176,102,29);
}

.pil{
	width: 100%
}

/*flag*/

#flag{
	width: 60%;
	margin: auto;
	display: grid;
	grid-template: repeat(12,8.333%)/repeat(12,8.333%);
	
}

#tappe{
	grid-area: 1/1/13/13;
	width: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
	
}


#flagkas{
		width: 100%;
	height: 100%;
	margin: auto;
	grid-area: 1/1/13/13;
	background-color: rgb(4,35,49);

}



/*anmeld*/


#anmeld{
	width: 70%;
	height: 600px;
	margin: auto;
	display: grid;
	grid-template:repeat(12,8.33%)/repeat(12,8.33%);
	
}

#anmelds{
	
	grid-area: 1/1/2/13;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}
#anmeldkas1{
	background-color: rgb(238,211,189,1.00);
	grid-area: 2/2/12/12;
	z-index: -1;
	
}

#anmeldkas2{
	background-color: rgb(176,102,29);
	grid-area: 1/1/13/13;
	z-index: -2;
	box-shadow: 2px 5px 37px -1px #000;
}



#pita1{
	grid-area: 2/2/4/5;
	
}

#pita2{
	grid-area: 2/8/4/11;
	
}

#pita3{
	grid-area: 7/2/13/5;
	
}

#pita4{
	grid-area: 7/8/13/11;
}


#anmeld1{
	grid-area: 3/2/6/8;
	
}

#anmeld2{
	grid-area: 3/8/6/12;
	
}

#anmeld3{
	grid-area: 8/2/10/8;
	
}

#anmeld4{
	grid-area: 8/8/10/12;
	
}


.pita{
	width: 100%;
}


#pita,p{
	padding-left: 15px
}

.navn{
	padding-left: 20px;
}

#malan{
	grid-area:11/7/12/12;
	width: 100%;
	z-index: 3;
	opacity: 0.8;
}
