
/* CSS Document */

body {margin: 0; 
      padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 100px;
    background-color: #000;
}




/*top*/

#top{
	display: grid;
	grid-area: repeat(3,1fr)/ repeat(4,1fr);
	
}

#top_video{
	width: 70%;
	grid-area: 1/2/4/5;
	margin: auto
}

#head{
	width: 70%;
	margin: auto;
	z-index: 1;
	grid-area: 1/1/4/5;
}
