
/* CSS Document */

body {margin: 0; 
      padding: 0;
    box-sizing: border-box;
}

p{
	font-size: 2em;
}
/*top*/

#top{
	display: grid;
	grid-template: repeat(3,1fr)/ repeat(4,1fr);
	margin: auto;
	width: 70%;
	
}

#top_video{
	width: 100%;
	grid-area: 1/1/5/5;
	
}

#head{
	width: 100%;
	z-index: 1;
	grid-area: 1/1/5/5;
}

/*historie*/

#historie{
	width: 80%;
	
	margin: auto;
	display: grid;
	grid-template:repeat(16,6.25%)/repeat(16,6.25%);
	
}

#hamid{
	border-radius: 50%;
	grid-area: 3/2/5/16;
	width:40%;
	z-index: 2;

	
}

#hist{
	grid-area: 3/8/15/15;
	z-index: 2;
}

#kasse1{
	background-color: rgb(238,211,189,1.00);
	grid-area: 2/2/16/16;
	z-index: -1;
	
}

#kasse2{
	background-color: rgb(176,102,29);
	grid-area: 1/1/17/17;
	z-index: -2;
}

#hojt{
	width: 100%;
	grid-area: 10/6/15/8;
	z-index: 3;
}

#maling{
	width: 100%;
	grid-area: 12/1/15/8;
	z-index: 1;
}






